#!/usr/bin/env bash
#
# Common environment configuration for direnv (https://direnv.net). Please note,
# this file is not ignored by the source tree's Git repository. Any sensitive or
# user-specific environment configuration, such as authentication credentials,
# should go in the ".local/envrc.bash" file.
#

# Get the path of the source tree's root directory.
_source_root="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

# Load the ".local/envrc.bash" file if it exists.
if test -f "${_source_root}/.local/envrc.bash"; then
    source "${_source_root}/.local/envrc.bash"
fi

# Remove variables which are no longer needed.
unset -v _source_root
